<!doctype html>
<html data-ng-app="personApp">
<head>
	<meta charset="UTF-8">
	<title>Exemplo 5</title>
</head>
<body>
	<table>
		<thead>
			<tr>
				<th>Nome</th>
				<th>Telefone</th>
			</tr>
		</thead>
		<tbody data-ng-controller="personList">
			<tr ng-repeat="person in persons">
				<td>{{ person.name }}</td>
				<td>{{ person.phone }}</td>
			</tr>
			<!-- <tr ng-repeat="i in [0, 1, 2, 3, 4, 5]"><td>{{ i }}</td></tr> -->
		</tbody>
	</table>

	<script src="/bower_components/angular/angular.min.js"></script>

	<script>
		var personApp = angular.module('personApp', []);

		personApp.controller('personList', function ($scope) {
			$scope.persons = [
				{name:'John', phone:'555-1276'},
				{name:'Mary', phone:'800-BIG-MARY'},
				{name:'Mike', phone:'555-4321'},
				{name:'Adam', phone:'555-5678'},
				{name:'Julie', phone:'555-8765'},
				{name:'Juliette', phone:'555-5678'}
			];
		});
	</script>
</body>
</html>
