<!doctype html>
<html data-ng-app>
<head>
	<meta charset="UTF-8">
	<title>To-Do List Tri Simples</title>

	<link rel="stylesheet" href="style.css">
</head>
<body data-ng-controller="todoCtrl">
	<h1>To-Do List Tri Simples!</h1>

	<input type="search" data-ng-model="search.text" placeholder="Buscar">


	<p>{{ remaining() }} de {{ todos.length }} <button data-ng-click="clear()">Limpar</button></p>

	<ul>
		<li data-ng-repeat="task in todos | filter:search:strict">
		<!-- <li data-ng-repeat="task in todos | filter:search:strict | orderBy: 'text'"> -->
		<!-- <li data-ng-animate="'animate'" data-ng-repeat="task in todos | filter:search:strict | orderBy: 'text'"> -->
			<label>
				<input type="checkbox" data-ng-model="task.done">
				<a href="javascript:;" data-ng-click="edit(task, $index)">Editar</a>
				-
				<span class="done done-{{ task.done }}">{{ task.text }}</span>
			</label>
		</li>
	</ul>

	<form data-ng-submit="save()">
		<input type="text" data-ng-model="taskName" placeholder="Nova task">
		<input type="hidden" data-ng-model="done" value="">
		<input type="hidden" data-ng-model="index" value="">
		<input type="submit" value="Salvar">
	</form>

	<script src="//ajax.googleapis.com/ajax/libs/angularjs/1.1.5/angular.min.js"></script>

	<script>
		function todoCtrl ($scope) {
			$scope.todos = [
				{
					text:'Lorem ipsum dolor sit amet',
					done: false
				},
				{
					text:'Et, autem, fugiat, hic adipisci necessitatibus',
					done: false
				},
				{
					text:'Nesciunt, at, tenetur doloremque quos',
					done: true
				},
				{
					text:'Ducimus, est rem necessitatibus',
					done: false
				},
				{
					text:'Quae, eaque fuga voluptatibus esse obcaecati',
					done: true
				}
			];

			$scope.save = function () {
				var taskName = $scope.taskName;
				var done = $scope.done;
				var index = $scope.index;

				if (!taskName == undefined || !taskName == '') {
					if (!index == '') {

						$scope.todos.splice(index, 1, {
							text: taskName,
							done: done
						});
					} else {
						$scope.todos.push({
							text: taskName,
							done: false
						});
					};

					$scope.taskName = $scope.done = $scope.index = '';
				};
			};

			$scope.edit = function (task, index) {
				$scope.taskName = task.text;
				$scope.done = task.done;
				$scope.index = index;

				console.log(task);
			};

			$scope.remaining = function() {
				var count = 0;

				angular.forEach($scope.todos, function(task) {
					count += task.done ? 0 : 1;
				});

				return count;
			};

			$scope.clear = function () {
				var todos = $scope.todos;

				$scope.todos = [];

				angular.forEach(todos, function(task) {
					if (!task.done) $scope.todos.push(task);
				});
			};
		}
	</script>
</body>
</html>
